.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 15px auto;
  font: 16px/1.2 'Montserrat', sans-serif;
}

.create {
  font: 20px/1.2;
  color: white;
}

.logos{
  display: flex; 
}

.rsschool-link-image {
  display: block;
  width: 80px;
  height: 30px;
}

.github-link-image {
  display: block;
  width: 30px;
  height: 30px;
}